#header-inner.fixed-header-container
  .container
    .row
      .span12
        .heading-text
          %h1="#{session[:name]} you have <span>#{session[:money]}</span>"
              
          %h1 <h1><span>How much do you want to bet?</span> </h1>
          .span10.offset1
            %form#bet{ :action => "/bet", :method => "post"}
              .control-group
                .control
                  %input#bet_value{:type => "text", :name => "bet", :class => "placeholder span4 required"}
                %input#bet{:type => "submit", :class => "reg-btn", :disabled => "disabled"}