.row
  .span8.offset2
    %h1 This is Blackjack
.row
  .span8.offset2
    %h1= "Hello #{session[:name]}"
.row
  .span8.offset2
    %h1 Dealer Cards
.row
  .span8.offset2
    %h1= "#{session[:name]} cards"
